<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} MootiroMaps {% endblock %}</title>

    <!-- ================ CSS section ================== -->
    <link rel="stylesheet"  type="text/css"
      href="{{ url_for('static',
               filename='lib/foundation/css/foundation.min.css')}}"/>
    <link rel="stylesheet"  type="text/css"
      href="{{ url_for('static', filename='css/app.css') }}"/>
  </head>
  <body>

    <div class="row">
      <div id="content" class="nine columns centered">
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- ============ Javascript section =============== -->
    <script type="text/javascript">
      // Setting the RequireJS base Url
      var require = { baseUrl: "{{ url_for('static', filename='js') }}" };

      // Setting Komoo objects namespace, for boostraping json from the server
      window.KomooNS = {};
    </script>
    <script data-main="main"
      src="{{ url_for('static', filename='lib/require.js') }}"></script>

    {% block js %}{% endblock %}
  </body>
</html>
