!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mootiro Maps 2 - Tests</title>
  <link rel="stylesheet"
    href="{{ url_for('static', filename='lib/qunit/qunit.css') }}">
</head>
<body>
  <div id="qunit"></div>
  <script
    src="{{ url_for('static', filename='lib/qunit/qunit.js') }}">
  </script>
  <script data-main="{{ url_for('static', filename='js/main.js') }}"
    src="{{ url_for('static', filename='lib/require.js') }}">
  </script>
  <script type="text/javascript">

    //Main file for loading RequireJS necessary bits
    QUnit.config.autostart = false;

    require([
        '/static/tests/sample_test.js'
      ], function(){
        QUnit.start(); //Tests loaded, run tests
      }
    );
  </script>
</body>
</html>
